<div class="button-bar">
  <a class="button button-small " ui-sref-active="active"   href="#/tab/products/city/河口">河口</a>
  <a class="button button-small " ui-sref-active="active"   href="#/tab/products/city/laocai">lao cai</a>
  <a class="button button-small " ui-sref-active="active"   href="#/tab/products/city/凭祥">凭祥</a>
  <a class="button button-small " ui-sref-active="active"   href="#/tab/products/city/luongson">luong son</a>
  <a class="button button-small " ui-sref-active="active"   href="#/tab/products/city/东兴">东兴</a>
  <a class="button button-small " ui-sref-active="active"   href="#/tab/products/city/mangcai">mang cai</a>
</div>
