<ion-view view-title="">
  <ion-content style="">
    <div style="margin-left:auto; margin-right:auto; max-width:800px;">
      <div class="row" style="padding:0px;">
        <div class="col" style="padding:0.5px;">
          <div ng-repeat="p in photos1" style="position:relative;">
            <a  href="#/tab/products/users/{{p.user.id}}">
              <img ng-src="{{p.url}}" alt='' width="100%" />
              <p style="position: absolute; bottom:-5px; background-color:lightgray; color:black;">{{p.user.name}} {{p.user.description}}</p>
            </a>
          </div>
        </div>
        <div class="col" style="padding:0.5px;">
          <div ng-repeat="p in photos2" style="position:relative;">
            <a  href="#/tab/products/users/{{p.user.id}}">
              <img ng-src="{{p.url}}" alt='' width="100%" />
              <p style="position: absolute; bottom:-5px; background-color:lightgray; color:black;">{{p.user.name}} {{p.user.description}}</p>
            </a>
          </div>
        </div>
        <div class="col" style="padding:0.5px;">
          <div ng-repeat="p in photos3" style="position:relative;">
            <a  href="#/tab/products/users/{{p.user.id}}">
              <img ng-src="{{p.url}}" alt='' width="100%"  />
              <p style="position: absolute; bottom:-5px; background-color:lightgray; color:black;">{{p.user.name}} {{p.user.description}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--<div style="background: url('{{p.url}}');" > </div> <img ng-src="{{p.url}}" alt="Car" width="100%" />  <div ng-if="p.url" ng-style="{'background-image':'url({{p.url}})'}"></div>-->
    <ion-infinite-scroll ng-if="dataLength == limit" on-infinite="loadMore()" distance="50%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
